**/*
!dist/extension.js
!dist/extension.js.map
!dist/indexer-worker.js
!dist/wasm/**
!dist/sidebar.js
!dist/sidebar.css
!dist/approval.js
!dist/approval.css
!dist/fr-preview.js
!dist/fr-preview.css
!dist/codicon.css
!dist/codicon.ttf
!package.json
!README.md
!LICENSE
!CHANGELOG.md
!media/**
!resources/**
